body {
  padding: 3% 5%;
  counter-reset: part;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 2% 0%;
  width: 25%;
}

.big {
  width: 60%;
}

h1::before {
  counter-increment: part;
  content: "Part " counter(part) ". ";
}

h1.title::before {
  content: none;
  counter-increment: none;
}

pre {
  padding: 0.5%;
}

.verbated {
  background-color: lightgrey;
  padding: 0.1%;
}
